doctype html
<meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
html
  head
    title= title
    include includes/mixins
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
  body
    nav.navbar.navbar-default.navbar-static-top
      .container-fluid
        .navbar-brand Telebot
        ul.nav.navbar-nav
          li.active
            a(href="#") Home
          li
            a(href="#") Catalogue

    .container-fluid
      .col-md-2
        ul.nav.nav-pills.nav-stacked
          each usr in database
            -if (usr.id == id){
             li.active
               a(href="/user/"+usr._id)= usr._id
            -}else{
              li
               a(href="/user/"+usr._id)= usr._id
            -}
      .col-md-7
        .container-messages#msg-box
          each msg in msgs
            -if (msg.important){
            .alert.alert-danger
              p= msg.from+ ' | ' +msg.text
            -}else{
            .alert.alert-info
              p= msg.from+ ' | ' +msg.text
            -}
        .input-group
          span.input-group-addon
            input#manCh(type="checkbox")
          input#text(type="text", name="reply-text").form-control
          span.input-group-btn
            button#snd(type="button").btn.btn-default Отправить!            
      .col-md-3
        .container-orders#orders
          table.table("border" = "1px")
            thead.thead-inverse
              tr.active
                th №
                th Text
                th Payd
                th Change
            tbody
              each order in ordrs
                tr
                  td= order.num
                  td= order.text
                  td= order.payd
                  td 
                    button(type="button", value= order.num).btn.btn-default.change Ch
        script.
          var id = #{id}
          var manMode = #{man}

    include includes/scripts
